.menuEmpresa {
  font-family: Arial, sans-serif;
  background-color: #f8f9fb;
}

.menuEmpresa ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

.menuEmpresa li {
  display: inline;
}

.menuEmpresa .empresaLink a{
  text-decoration: none;
  color: orange;
  font-size: 22px;
  font-weight: bold;
}

.menuEmpresa .empresaLink:first-child {
  color: orange;
  font-weight: bold;
}

.menuEmpresa .empresaLink:first-child::before {
  content: "[ ";
  color: orange;
  font-weight: bold;
}

.menuEmpresa .empresaLink:first-child::after {
  content: " ]";
  color: orange;
  font-weight: bold;
}



.menuEmpresa .restoLinks a{
  text-decoration: none;
  color: rgb(57, 57, 55);
  font-size: 22px;
  font-weight: normal;
}

