.fondoContador{
    background-color: #f59433;
}

.textoContador{
    color: #f8f9fb;
    font-size: 1em;
}

.numeroContador{
    color: #f8f9fb;
    font-size: 2em;
}

.fondoFooter{
    background-color: #374f59;
}