#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --color1: #f59433;
  --color2: #374f59;
  --color3: #f8f9fb;
}

h2{
  color: var(--color1);
}


.fondoCard{
  background-color: #f5f5f5;
}

.fondoInteriorCard{
  background-color: #ffffff;
  border-radius: 5%;
}

.botonFiltro{
  background-color: #d6d6d6;
}

.sin{
  padding: 0 ;
  margin: 0 ;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.borde{

  border: 1px solid black;
}


